.faqContainer {
  background-color: #f2f1fb;
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.faqTitle {
  color: #6269d1;
  font-family: var(--font-mulish);
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.questionsContainer {
  column-count: 2;
  gap: 100px;
}

.columnBreak {
  break-after: column;
}

.questionBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #ffc9c9 solid 1px;
  width: 100%;
  height: 80px;
  margin-bottom: 20px;

  text-align: left;
  color: #4e55fe;

  /* Text 1 */
  font-family: var(--font-mulish);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
}

.answer {
  width: 100%;
}

.faqContent {
  margin-top: 50px;
  color: var(--primary-variant, #4e55fe);
  font-family: var(--font-poppins);
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px; /* 133.333% */
}
