
.container{
    position: relative;
    background-color: white;
    padding: 5% 5%;
}


.title{
    color: #153CFF;
    font-size: 36px;
    font-family: var(--font-mulish);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 5%;
}

.events{
    
}