

.container{
    position: relative;
    background-color: #F2F1FB;;
}

.donateText{
    color: #153CFF;
    font-size: 45px;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    padding: 100px 5% 30px;
}

.donateTitle{
    color: #FF5678;
    font-size: 120px;
    font-family: var(--font-mulish);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 5%;
}

.donateSubtitle{
    color: #FFC9C9;
    font-size: 90px;
    font-family: var(--font-mulish);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 0px 5% 50px;

}
