
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header{
    padding: 3% 5%;
    height: 900px;
    background: #F2F1FB;
}
.headerTitle{
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    color: #153CFF;
    font-size: 7rem;
    font-family: Mulish;
    font-style: normal;
    font-weight: 1000;
    line-height: 0px;
    letter-spacing: -6.816px;
    text-transform: capitalize;
}
.headerText{
    display: flex; 
    height: 50%;
    flex-direction: column; 
    color: #153CFF;
    font-size: 45px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}