


.header{
    padding: 3% 5%;
    position: relative;
    background: #F2F1FB;
}
.headerTitle{
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    color: #153CFF;
    font-size: 270px;
    font-family: var(--font-mulish);
    font-style: normal;
    font-weight: 900;
    line-height: 2;
    letter-spacing: -6.816px;
    
}
.headerText{
    display: flex; 
    height: 50%;
    flex-direction: column; 
    color: #153CFF;
    font-size: 45px;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}