
.navbar {
  background: #f2f1fb;
  padding: 1% 3%;
}

.searchBar {
  border-bottom: 3px solid #153cff;
  width: 300px;
  display: flex;
  justify-content: flex-start;
}

.SearchIcon {
  color: #a0ccf2;
}

.searchText {
  border: none;
  background-color: transparent;  
  width: 93%;
  padding-left: 5px;
  font-size: 18px;
}

.searchText:focus {
  outline: none;
}

.inputGroup{
  margin-right: 0 !important;
  width: 300px;
}

.center{
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 60px;
}

@media (max-width:990px) {
  .center{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
  }
  .firstItem{
    margin-top: 20px;
  }
  .thirdItem{
    padding-left: 20px;
    margin-bottom: 20px;
  }
}

.firstItem {
  height: 26px;
  width: 79px;
  color: #153cff;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
 
}

.innerItem {
  color: #153cff;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
}

.secondItem {
  height: 26px;
  width: 79px;
  color: #153cff;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;

}

.thirdItem {
  height: 26px;
  width: 79px;
  color: #153cff;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin-left: -20px;

}

.right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.contributeBtn{
  width: 200px;
  height: 60px;
  padding:10px 56px;
  border-radius: 6px;
  background-color: #FFD627;
  font-family: var(--font-mulish);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; 
  color: #5F5F5F;
}
.contributeBtn:hover{
  background-color: transparent;
  color: #FFD627;
  border-bottom: 2px solid #FFD627;
}

.closeBtn{
  background-color: #FF4646;
  border-radius: 6px;
  width: 56px;
  height: 56px;
  color: #FEFBFB;
  font-family: var(--font-poppins);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.closeBtn:hover{
  border-radius: 6px;
  background-color: #FF4646;
  width: 95px;
  height: 56px;
  padding: 10px;
  font-family: var(--font-mulish);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; 
}
.closeBtn:hover span {
  display: none
}
.closeBtn:hover:before{
  content:"Exit"
}