
.navbar {
  background: #f2f1fb;
  display: flex;
  justify-content: space-between;
  padding: 0% 3%;
}

.SearchIcon {
  color: #a0ccf2;
  margin-left: 2px;
  margin-top: 8px;
}

.searchBar {
  width: 30%;
  border-bottom: 3px solid #153cff;
  width: 401px;
  margin-top: -22px;
}

.searchText {
  border: none;
  background-color: transparent;
  width: 93%;
  padding-left: 5px;
  font-size: 18px;
}
.searchText:focus {
  outline: none;
 
}

.firstItem {
  height: 26px;
  width: 79px;
  color: #153cff;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin-left: 40px;
  margin-top: -10px;
}

.innerItem {
  color: #153cff;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
}

.secondItem {
  height: 26px;
  width: 79px;
  color: #153cff;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin-left: 42px;
  margin-top: -10px;
}

.thirdItem {
  height: 26px;
  width: 79px;
  color: #153cff;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin-left: 10px;
  margin-top: -10px;
}

.right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.right .placeHolder {
  width: 180px;
  height: 50px;
  margin-right: -10px;
}

.right .CloseIcon {
  background-color: #ff4646;
  border-radius: 4px;
  font-family: var(--font-poppins);
  width: 47px;
  height: 45px;
  position: relative;
}

.CloseIcon span {
  color: #fdfafa;
  font-size: 40px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
